@using EntityLayer.Concrete
 


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Durumu</th>
        <th>Detayalar</th>
        <th>Sil</th>
    </tr>
   
</table>